# Core
numpy>=1.23
matplotlib>=3.7

# Computer Vision
opencv-python>=4.8

# OCR
easyocr>=1.7
pytesseract>=0.3.10
pillow>=10.0
python-bidi>=0.4.2
pyclipper>=1.3.0.post5

# EasyOCR dependencies (common)
torch>=2.0
torchvision>=0.15

# Utilities
ipython>=8.10
